@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgb(246, 216, 255);
}

h1 {
    font-size: 54px;
    font-family: "Neucha", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10%;
}

section {
    margin: 50px 0;
}

a {
    color: rgb(128, 0, 128)
}

img {
    width: 30%;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}